<div class="animated fadeIn">
  <div class="col-9 animated slideInRight">
    <h1 class="ml-5">Cuenta</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-3 text-center">
      <div class="btn-group-vertical btn-group-lg" role="group">
        <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['dashboard']">
          <fa-icon [icon]="fa_file"></fa-icon>&nbsp;Resumen de la cuenta
        </button>
        <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['edit']">
          <fa-icon [icon]="fa_edit"></fa-icon>&nbsp;Editar información
        </button>
        <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['orders']">
          <fa-icon [icon]="fa_history"></fa-icon>&nbsp;Historial de pedidos
        </button>
      </div>
    </div>
    <div class="col-8 mr-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
