<app-loading *ngIf="loading"></app-loading>
<div class="fadeIn fast" *ngIf="!loading">
  <div class="col-9 animated slideInRight">
    <h1>Punto de venta</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-9 card-columns">
      <app-pos-item class="col-md-4 animated zoomIn" [item]="item" *ngFor="let item of menu"></app-pos-item>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Orden</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Lista de productos...
          </li>
        </ul>
        <div class="card-body">
          <div class="row">
            <div class="col-6"><b>Subtotal:</b></div>
            <div class="col-6 text-right">0</div>
          </div>
          <div class="row">
            <div class="col-6"><b>Impuestos:</b></div>
            <div class="col-6 text-right">0</div>
          </div>
          <div class="row">
            <div class="col-6"><b>Descuento:</b></div>
            <div class="col-6 text-right">0</div>
          </div>
          <div class="row">
            <div class="col-6"><b>Total:</b></div>
            <div class="col-6 text-right">0</div>
          </div>
        </div>
        <div class="card-body ">
          <div class="row">
            <span class="col-6">
              <button type="button" class="text-center btn btn-outline-danger btn-block">
                Cancelar
              </button>
            </span>
            <span class="col-6">
              <button type="button" class="text-center btn btn-outline-success btn-block">
                Pagar
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
