<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
<div class="card animated fadeIn" *ngIf="!loading">
  <div class="card-body">

    <form [formGroup]="form" (ngSubmit)="update()">

      <div class="row">
        <div class="form-group col-6 mb-3">
          <label class="col-form-label">Correo electrónico</label>
          <input type="email" class="form-control" maxlength="45" formControlName="email">
          <div *ngIf="form.controls['email'].errors?.required
                        &&( form.controls['email'].dirty || form.controls['email'].touched )"
               class="invalid-feedback d-block">
            Este campo es requerido.
          </div>
          <div *ngIf="form.controls['email'].errors?.pattern
                        &&( form.controls['email'].dirty || form.controls['email'].touched )"
               class="invalid-feedback d-block">
            El correo es inválido.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6 mb-3">
          <label class="col-form-label">Nueva contraseña</label>
          <input type="password" class="form-control" maxlength="20" formControlName="password">
          <div *ngIf="form.controls['password'].errors?.required
                        &&( form.controls['password'].dirty || form.controls['password'].touched )"
               class="invalid-feedback d-block">
            Este campo es requerido.
          </div>
          <div *ngIf="form.controls['password'].errors?.minlength
                        &&( form.controls['password'].dirty || form.controls['password'].touched )"
               class="invalid-feedback d-block">
            La contraseña es demasiado corta.
          </div>
        </div>
        <div class="form-group col-6 mb-3">
          <label class="col-form-label">Verificar contraseña</label>
          <input type="password" class="form-control" maxlength="20" formControlName="passwordVerification">
          <div *ngIf="form.controls['passwordVerification'].errors?.required
                        &&( form.controls['password'].dirty || form.controls['password'].touched )"
               class="invalid-feedback d-block">
            Por favor verifique la contraseña.
          </div>
          <div *ngIf="form.controls['passwordVerification'].errors?.notEqual
                        &&( form.controls['password'].dirty || form.controls['password'].touched )"
               class="invalid-feedback d-block">
            Los campos no coinciden.
          </div>
        </div>
      </div>

      <hr class="mb-4">

      <div class="row">
        <div class="col-6">
          <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Actualizar información</button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger btn-lg btn-block" type="submit" (click)="delete()">Eliminar cuenta</button>
        </div>
      </div>
    </form>
  </div>
</div>
