<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
<div class="container-fluid animated fadeIn my-5" *ngIf="!loading">
  <div class="row animated slideInRight">
    <h1 class="ml-5">Pago</h1>
  </div>
  <hr>
  <div class="row">
    <p class="lead">Por favor llene todos los campos.</p>
  </div>

  <div class="row">
    <!--Carrito-->
    <div class="col-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        Pedido
        <span class="badge badge-primary badge-pill"> {{ cart.items.length }} </span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed animated fadeInUp" *ngFor="let item of cart.items">
          <div>
            <h6 class="my-0">{{ item.name }} <b class="badge badge-secondary badge-pill">{{ item.quantity }}</b></h6>
            <small class="text-muted">{{ item.description }}</small>
          </div>
          <span class="text-muted">{{ item.price * item.quantity | currency }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>{{ cart.total | currency: "MXN" }}</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Código promocional">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">Validar</button>
          </div>
        </div>
      </form>
    </div>

    <!--Formulario-->
    <div class="col-8 order-md-1">
      <form [formGroup]="form" (ngSubmit)="purchase()">

        <div class="row">
          <!--Calle-->
          <div class="form-group col-6 mb-3">
            <label class="col-form-label">Calle</label>
            <input type="text" class="form-control" maxlength="50" formControlName="street">
            <div *ngIf="form.get('street').errors?.required
                          &&( form.get('street').dirty || form.get('street').touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="form.get('street').errors?.pattern
                          &&( form.get('street').dirty || form.get('street').touched )"
                 class="invalid-feedback d-block">
              Calle inválida.
            </div>
          </div>

          <!--Número-->
          <div class="form-group col-3 mb-3">
            <label class="col-form-label">Número</label>
            <input type="text" class="form-control" maxlength="7" formControlName="number">
            <div *ngIf="form.get('number').errors?.required
                          &&( form.get('number').dirty || form.get('number').touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="form.get('number').errors?.pattern
              &&( form.get('number').dirty || form.get('number').touched )"
                 class="invalid-feedback d-block">
              Eso no es un número.
            </div>
          </div>

          <!--Número interior-->
          <div class="form-group col-3 mb-3">
            <label class="col-form-label">Número Interior</label>
            <input type="text" class="form-control" maxlength="5" formControlName="interiorNumber">
            <div *ngIf="form.get('interiorNumber').errors?.required
                          &&( form.get('interiorNumber').dirty || form.get('interiorNumber').touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="form.get('interiorNumber').errors?.pattern
              &&( form.get('interiorNumber').dirty || form.get('interiorNumber').touched )"
                 class="invalid-feedback d-block">
              Número interior inválido.
            </div>
          </div>
        </div>

        <div class="row">
          <!--Colonia-->
          <div class="form-group col-6 mb-3">
            <label class="col-form-label">Colonia</label>
            <input type="text" class="form-control" maxlength="50" formControlName="neighborhood">
            <div *ngIf="form.get('neighborhood').errors?.required
                          &&( form.get('neighborhood').dirty || form.get('neighborhood').touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="form.get('neighborhood').errors?.pattern
                          &&( form.get('neighborhood').dirty || form.get('neighborhood').touched )"
                 class="invalid-feedback d-block">
              Colonia inválida.
            </div>
          </div>

          <!--Código Postal-->
          <div class="form-group col-3 mb-3">
            <label class="col-form-label">Código Postal</label>
            <input type="text" class="form-control" maxlength="5" formControlName="zipCode">
            <div *ngIf="form.get('zipCode').errors?.required
                          &&( form.get('zipCode').dirty || form.get('zipCode').touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="(form.get('zipCode').errors?.pattern || form.get('zipCode').errors?.minlength)
                           &&( form.get('zipCode').dirty || form.get('zipCode').touched )"
                 class="invalid-feedback d-block">
              Código Postal inválido.
            </div>
          </div>

          <!--Teléfono-->
          <div class="form-group col-3 mb-3">
            <label class="col-form-label">Teléfono</label>
            <input class="form-control" type="text" maxlength="10" formControlName="phone">
            <div *ngIf="form.get('phone').errors?.required
                          &&( form.get('phone').dirty || form.get('phone').touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="(form.get('phone').errors?.pattern || form.get('phone').errors?.minlength)
                          &&( form.get('phone').dirty || form.get('phone').touched )"
                 class="invalid-feedback d-block">
              Número inválido.
            </div>
          </div>
        </div>

        <!--<div class="custom-control custom-checkbox">-->
          <!--<input type="checkbox" class="custom-control-input" id="save-info">-->
          <!--<label class="custom-control-label" for="save-info">Guardar información para próxima compra.</label>-->
        <!--</div>-->

        <hr class="mb-4">

        <h4 class="mb-3">Formas de pago</h4>

        <!---->
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input">
            <label class="custom-control-label" for="credit">Tarjeta de crédito</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input">
            <label class="custom-control-label" for="debit">Tarjeta de débito</label>
          </div>
        </div>

        <div class="row">
          <!--Titular-->
          <div class="col-6 mb-3">
            <label>Titular</label>
            <input type="text" class="form-control" formControlName="cardName">
            <div *ngIf="form.controls['cardName'].errors?.required
                        &&( form.controls['cardName'].dirty || form.controls['cardName'].touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="form.controls['cardName'].errors?.pattern
                        &&( form.controls['cardName'].dirty || form.controls['cardName'].touched)"
                 class="invalid-feedback d-block">
              El nombre es inválido.
            </div>
          </div>

          <!--Número de la tarjeta-->
          <div class="col-5 mb-3">
            <label>Número de la tarjeta</label>
            <input type="text" maxlength="16" class="form-control" formControlName="cardNumber">
            <div *ngIf="form.controls['cardNumber'].errors?.required
                        &&( form.controls['cardNumber'].dirty || form.controls['cardNumber'].touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="(form.controls['cardNumber'].errors?.pattern || form.controls['cardNumber'].errors?.minlength)
                        &&( form.controls['cardNumber'].dirty || form.controls['cardNumber'].touched)"
                 class="invalid-feedback d-block">
              Número inválido
            </div>
          </div>

          <!--Ícono-->
          <div class="col-1 mt-4 mb-3" [ngSwitch]="cardType">
            <img *ngSwitchCase="1" src="assets/img/american-express.png"/>
            <img *ngSwitchCase="2" src="assets/img/diners-club.png"/>
            <img *ngSwitchCase="3" src="assets/img/discover.png"/>
            <img *ngSwitchCase="4" src="assets/img/jcb.png"/>
            <img *ngSwitchCase="5" src="assets/img/mastercard.png"/>
            <img *ngSwitchCase="6" src="assets/img/visa.png"/>
          </div>
        </div>
        <div class="row">
          <!--Fecha de vencimiento-->
          <div class="col-3 mb-3">
            <label>Fecha de vencimiento</label>
            <input type="text" class="form-control" formControlName="expiration">
            <div *ngIf="form.controls['expiration'].errors?.required
                        &&( form.controls['expiration'].dirty || form.controls['expiration'].touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="form.controls['expiration'].errors?.pattern
                        &&( form.controls['expiration'].dirty || form.controls['expiration'].touched)"
                 class="invalid-feedback d-block">
              Expiración inválida
            </div>
          </div>

          <!--Número de seguridad-->
          <div class="col-3 mb-3">
            <label>Número de seguridad</label>
            <input type="text" class="form-control" maxlength="3" formControlName="cvc">
            <div *ngIf="form.controls['cvc'].errors?.required
                        &&( form.controls['cvc'].dirty || form.controls['cvc'].touched )"
                 class="invalid-feedback d-block">
              Este campo es requerido.
            </div>
            <div *ngIf="(form.controls['cvc'].errors?.pattern || form.controls['cvc'].errors?.minlength)
                        &&( form.controls['cvc'].dirty || form.controls['cvc'].touched)"
                 class="invalid-feedback d-block">
              Número inválido
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <!--Botones-->
        <div class="row">
          <div class="col-4">
            <button class="btn btn-outline-primary btn-lg btn-block" [routerLink]="['/menu']">
              Continuar comprando  <fa-icon [icon]="fa_undo"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <button class="btn btn-outline-danger btn-lg btn-block">
              Cancelar compra <fa-icon [icon]="fa_trash"></fa-icon>
            </button>
          </div>
          <div class="col-4">
            <button [disabled]="this.disableBtn" class="btn btn-outline-success btn-lg btn-block" type="submit">
              Pagar <fa-icon [icon]="fa_money_bill"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
