<footer class="footer">
  <div class="pt-5 text-muted text-center text-small navbar-dark bg-dark">
    <p class="mb-1">© 2018 Sushin' Gada R.L. de R.V.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white" [routerLink]="['privacy']">Acuerdo de privacidad</a></li>
      <li class="list-inline-item"><a class="text-white" [routerLink]="['terms']">Terminos y condiciones</a></li>
      <li class="list-inline-item"><a class="text-white" [routerLink]="['about']">Acerca de</a></li>
    </ul>
  </div>
</footer>
