<mat-progress-spinner *ngIf="account_loading && orders_loading" mode="indeterminate"></mat-progress-spinner>
<div class="card animated fadeIn" *ngIf="!account_loading && !orders_loading">
  <div class="card-body">
    <div class="row">
      <div class="col">
          <h4>{{ account.name + " " + account.lastName1 + " " + account.lastName2 }} </h4>
          <h5 class="text-muted"> ({{ account.email }})</h5>
      </div>
    </div>
    <hr>
    <h5>Total de pedidos: {{ orders.length }}</h5>
  </div>
</div>
